

body {
    background-color: rgb(119, 123, 130);
    margin: 10px;
    color:rgb(225, 198, 198)
}

.container {
    position: relative;
    text-align: center;
    color: rgb(225, 198, 198);
    font-size: 300%;
   
  }
  img{
    max-height: 500px;
    width: cover

  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 350 px;
  }
 
  .AboutMe{
    display: inline;
    padding: 30px;
  }

main{

    margin-top: 2%;
}


.work{
    display: inline;
    padding: 10 px;
    color: aliceblue;
  
  
}

  .work img {
    width: 100%;
    
  }


 
